<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Cần camera để dịch chữ tiếng Nhật trực tiếp và phát livestream.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Cần micro để luyện phát âm và phát livestream buổi học.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Cần nhận dạng giọng nói để chấm điểm luyện phát âm tiếng Nhật.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.edu.nihongo.ios.oauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.edu.nihongo.ios</string>
            </array>
        </dict>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>Nihongo EDU</string>
</dict>
</plist>
